* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
body {
    background-color: #cfd8dc;
}
main {
    width: 50%;
    margin: auto;
}
header {
    padding: 50px 10px;
}

/* text styles start */
h1, h2 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 63px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
/* text styles end */

/* card styles start */
.card {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 30px;
    margin-bottom: 16px;
}
.card-title {
    margin-bottom: 16px;
}
.card-content {
    color: #000;
    margin: auto;
}
/* card styles end */

/* password styles start */
#password-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
#password {
    margin-bottom: 0px;
    border-bottom: 0.5px solid #cfd8dc;
    flex-grow: 1;
}
.bi-arrow-repeat:hover {
    fill: #263238;
}
/* password styles end */

/* form styles start */
#slide-container {
    width: 100%;
    margin-bottom: 16px;
}
.form-container {
    margin-bottom: 16px;
}
.slider {
    -webkit-appearance: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    height: 5px;
    outline: none;
    opacity: 0.7;
    background-color: #cfd8dc;
    border-radius: 30px;
    transition: opacity .2s;
    width: 100%;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
#character-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
/* form styles end */
