* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #98A886;
}
main {
    width: 50%;
    margin: auto;
}
header {
    padding: 50px 10px;
}

/* text styles start */
h1, h2 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 63px;
    text-align: center;
    color: #FFFDF5;
}
h2 {
    font-size: 24px;
    color: #1C4B67;
}
/* text styles end */

/* card styles start */
.card {
    border-radius: 5px;
    background-color: #FFFDF5;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 10px 30px 15px 30px;
    margin-bottom: 16px;
}
.card-title {
    padding-bottom: 8px;
}
.card-content {
    color: #0D1321;
    margin: auto;
}
/* card styles end */

/* password styles start */
#password-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#password {
    margin-bottom: 0px;
    flex-grow: 1;
}
#generated-password {  /* this is a textarea element */
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid rgba(87, 115, 153, 0.5);
    font-family: 'Source Code Pro', monospace;
    height: auto;
    outline: none;
    resize: none;
    width: 100%;
}
.bi {
    fill: #577399;
    height: 30px;
    margin-left: 10px;
}
.bi:hover {
    fill: #C8553D;
}
/* password styles end */

/* form styles start */
.form-body {
    font-size: 12px;
}
#form-message {
    color: #a39997;
}
label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}
#slide-container {
    width: 100%;
    margin-bottom: 16px;
}
.slider {
    -webkit-appearance: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    height: 2px;
    outline: none;
    opacity: 0.7;
    background-color: #577399;
    border-radius: 30px;
    transition: opacity .2s;
    width: 100%;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 30px;
  background: #577399; /* Green background */
}
.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #577399; /* Green background */
}
#character-types {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
/* form styles end */
