* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #0D1321;
}
body {
    background-color: #98A886;
}
main {
    width: 50%;
    margin: auto;
}
header {
    padding: 50px 10px;
}
p {
    line-height: 1.5;
    word-wrap: normal;
}

/* text styles start */
h1, h2 {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 5vw;
    text-align: center;
    color: #FAFAF1;
}
h2 {
    font-size: 3vw;
    color: #1C4B67;
}
/* text styles end */

/* card styles start */
.card {
    border-radius: 5px;
    background-color: #FAFAF1;
    box-shadow: 0px 5px 15px rgba(0,0,0,.08);
    font-size: 1.5vw;
    padding: 24px 48px 48px 48px;
}
.card-title {
    padding-bottom: 8px; 
}
/* card styles end */

/* password styles start */
#password-container {
    margin-bottom: 8px;
}
.generated-password { 
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5vw;
    border-bottom: 1px solid #577399;
    margin-bottom: 8px;
    word-break: break-all;
}
#password-action-container {
    display: flex;
    justify-content: flex-end;
}
.bi {
    fill: #577399;
    height: 3vw;
    margin-left: 10px;
}
.bi:hover {
    fill: #C8553D;
}
.message {
    color: #C8553D;
    line-height: 1.5;
}
label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}
.slider {
    -webkit-appearance: none;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    height: 2px;
    opacity: 0.7;
    background-color: #577399;
    transition: opacity .2s;
    width: 100%;
    outline: none;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 30px;
  background: #577399; /* Green background */
}
.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #577399; /* Green background */
}
#character-types-container {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
/* form styles end */

/* Tablets and Smaller */
@media screen and (max-width: 768px) {
    main {
        width: 90%;
    }
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 5vw;
    }
    #messages {
        text-align: center;
    }
    .generated-password {
        font-size: 4vw;
    }
    .bi {
        height: 5vw;
    }
    .bi:hover {
        fill: #577399;
    }
    .card {
        font-size: 2.25vw;
    }

}
/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    h1 {
        font-size: 12vw;
    }
    h2 {
        font-size: 8vw;
    }
    .message {
        text-align: center;
        padding-bottom: 8px;
    }
    .generated-password {
        font-size: 5vw;
        text-align: center;
        padding-bottom: 8px;
    }
    #password-action-container {
        justify-content: space-evenly;
        margin-bottom: 16px;
    }
    .bi {
        height: 8vw;
    }
    .card {
        font-size: 4vw;
        padding: 16px 32px 32px 32px;
    }
    #character-types-container {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        grid-gap: 16px;
    }
}